
html{
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: gainsboro;
    font: 12px/1.4 '微软雅黑';
}
.wrapper{
    width: 80%;
    height: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px auto;
    background-color: #EFF4FA;
    box-sizing: border-box;
}

.wrapper .content{
    box-sizing: border-box;
    height: 73%;
    border: 1px solid #ccc;
    margin: 1% 10px;
    padding: 5px;
    overflow-y: auto;
    background-color: #000000;
}

.wrapper .content ul li{
   font-size: 14px;
   padding: 5px;
   color: #ffffff;
}
.wrapper .content ul li span{
    font-style: italic;
    color: greenyellow;
}

.wrapper .action{
    box-sizing: border-box;
    height: 23%;
    border: 1px solid #ccc;
    margin: 1% 10px;
    padding: 5px;
    overflow: hidden;
}
.wrapper .action textarea{
    width: 100%;
    height: 60%;
    border-radius: 3px;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}
.wrapper .action button{
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}
