.container
	.row
		.page-header
			h1 #{title}
			ul.breadcrumb
				li
					a(href="/") 首页
					span.divider
				li
					a(href="/admin/movie") 后台录入页
					span.divider
				li
					a(href="/admin/list") 电影列表页
					span.divider
			